body {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-size: 18px;
    font-size-adjust: inherit;
    line-height:150%;
    color:  #333;
    background:  #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #cccccc;
    background-image: linear-gradient(#efeee7, #c8d6d6);
    background-origin: initial

}

header {
    background: #333;

}

h1 {
    color: #eee;
    Padding: 20px 0;
    margin: 0;
    margin-bottom: bottom 20px;
    text-align: center
}

h2 {
    font-size: 24px;
    font-size-adjust: inherit;
}

.container {
    width: 1024px;
    margin: 0 auto;


}
#bio-image, #main-bio, #contactinfo{
   float: left;
}
#main-bio {
    width: 70%;
}

#bio-image{
    height: 200px;
    width: 200px;
    Margin-right: 20px;
}

#contactinfo {
    width: 30%;
}
